---
layout: index
---

<div class="container">
  <div class="row">
    <div class="one-third column">
      <nav class="navbar">
        <section class="titles">
          <h1 class="title">Kairui Wang</h1>
          <h2 class="sub-title">Building for curiosity.</h3>
        </section>

        <hr class="horizontal-divider">

        <section class="contacts">
          <a href="https://twitter.com/kairuiwang" class="contact">twitter</a>
          <a href="https://github.com/kairuiwang" class="contact">github</a>
          <a href="https://linkedin.com/in/kairuiwang" class="contact">linkedin</a>
        </section>
      </nav>
    </div>

    <div class="two-thirds column">
      {% include cv.html %}
    </div>
  </div>
</div>

<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->
