<section class="cv">
  <section class="cv-section">
    <section class="section-heading">Experiences</section>
    <section class="description">
      <span class="name">Data Engineer <a href="https://twitter.com/eSparkLearning">@eSparkLearning</a></span>
      <span class="dates">2014-2016</span>
      <section class="achievements">
        eSpark brings personalized learning to K-8 students through curating the best educational content on
        the web. As part of a small team, I have shipped features across the tech stack, from internal 
        A/B testing tools to adaptive learning elements rolled out to all students.
      </section>
    </section>
    <section class="description">
      <span class="name">Fraud Data Analyst <a href="https://twitter.com/Enova">@Enova</a></span>
      <span class="dates">2013-2014</span>
      <section class="achievements">
        Enova operates online lending products in international markets. I performed ad-hoc analyses of 
        fraud patterns, and worked on  proactive fraud prevention through evaluating new data sources for fraud 
        predictiveness, and building automated reports of known fraud patterns.
      </section>
    </section>
  </section>

  <section class="cv-section">
    <section class="section-heading">Education</section>
    <section class="description">
      <span class="name">The University of Chicago</span>
      <section class="achievements">
        S.B. Mathematics, A.B. Economics
      </section>
    </section>
  </section>

  <section class="cv-section">
    <section class="section-heading">Papers</section>
    <section class="description">
      <span class="achievements">
        K. Wang, <a href="http://math.uchicago.edu/~may/REU2012/REUPapers/WangK.pdf"><em>The basic theory of persistent homology</em></a>, University of Chicago REU participating paper (2012).
      </span>
    </section>
  </section>

  <section class="cv-section">
    <section class="section-heading">FAQ</section>
    <section class="description">
      <span class="name">How do you pronounce "Kairui"?</span>
      <section class="achievements">
        kai-ray
      </section>
    </section>
  </section>
</section>
